* {
  margin: 0px;
  padding: 0px;
}

.tittle {
  margin-left: 5px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 600;
}

.container {
  width: 360px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.item {
  background-color: lightcyan;
  width: 64px;
  height: 64px;
}
