* {
  margin: 0px;
  padding: 0px;
}

.container {
  border: 1px solid black;
  background-color: lightblue;
  margin: 10px 0px;
  padding: 5px;
  height: 40px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tittle {
  font-size: 20px;
  font-weight: 600;
}

.buttons {
  margin-right: 10px;
}

.buttons button {
  background-color: lightcoral;
  border-radius: 8px;
  width: 36px;
  height: 36px;
}
